.container{
    margin: 20px;
    
}


.data-main{
    text-align: center;
    
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.mb-3{
    text-align: left;
    
}

.mb-3 span:nth-child(3){
    font-size: 12px;
}

.due-date{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.sub-due-date{
    margin: 10px 10px 10px;

}

.value{
    margin: 10px 10px 10px;
}

.quantity{
    margin-top: 15px;
    margin-left: 5px;    
}

.quantity input {
    width: 60px;
}

/* Datas de envio */

.due-date-send{
    margin: 10px;
}

.due-date-send label {
    margin: 10px;
}



.due-date input {
    margin-bottom: 20px;
}

/**Começando campo origem**/

.mb-3.checkbox  {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.selects-type{
    margin-bottom: 20px;
}


.button{
    margin-top: 20px;
    text-align: center;
    margin-right: 80px;
    margin-bottom: 20px;
}

.button button {
    width: 200px;
}
